{% extends "detector/base.html" %}

{% block content %}
<div class="container">
    <section class="history-table mt-4">
        <form method="GET" action="{{ url_for('detector.search') }}" name="dtSearchForm" class="mb-4">
            <div class="input-group">
                <input type="date" id="dt-search-date" class="form-control col-md-12 dt-search" name="date" />
                <button type="submit" class="btn btn-primary">検索</button>
            </div>
        </form>

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>日付</th>
                    <th>警告度</th>
                    <th>動画リンク</th>
                </tr>
            </thead>
            <tbody>
                {% for shop, movie in movie_list %}
                <tr>
                    <td>{{ movie.kasuhara_day.strftime('%Y-%m-%d') if movie.kasuhara_day else '未設定' }}</td>
                    <td>{{ movie.warning_level }}</td>
                    <td>
                        <a href="{{ url_for('detector.view_movie', movie_id=movie.movie_id) }}">
                            {{ movie.movie_pass if movie.movie_pass else '動画がありません' }}
                        </a>                        
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
</div>
{% endblock %}
